.background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main {
  transition: 0.3s linear;
}

body {
  background-position: top;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
  display: grid;
  min-height: 100%;
  transition: 0.3s linear;
  cursor:'pointer';
}



body::after {
  content: '';
  display: block;
  height: 166px;
}

/* This wrapper is used to keep the footer at the bottom of page */
.contentWrapper {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
}

.openNav {
  margin-left: 300px;
  margin-right: -300px;
  transition: 0.3s linear;
}

.closeNav {
  margin-left: 0px;
  margin-right: 0px;
  transition: 0.3s linear;

}