.background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main {
  transition: 0.3s linear;
}

p {
  margin-bottom: 0;
}

body {
  background-position: top;
  background-size: cover;
  position: relative;
  width: 100%;
  display: grid;
  min-height: 100%;
  transition: 0.3s linear;
  cursor:'pointer';
  font-family: 'Montserrat', sans-serif;
}

body::after {
  content: '';
  display: block;
  height: 166px;
}

/* This wrapper is used to keep the footer at the bottom of page */
.contentWrapper {
 min-height: 100vh;
 display: block;
 position: relative;
}

/* .openNav {
  margin-left: 300px;
  margin-right: -300px;
  transition: 0.3s linear;
  overflow-x: hidden;
}

.closeNav {
  margin-left: 0px;
  margin-right: 0px;
  transition: 0.3s linear;
} */

.img-left {
  display: block;
  margin-left: 0;
  margin-right: auto;
  padding: 2vh;
}

.img-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
  padding: 2vh;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2vh;
}