@import url('https://fonts.googleapis.com/css?family=Tangerine');

.banner {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}

.imageText {
    position: absolute;
    top: 350px;
    left: 50px;
    font-family: 'Tangerine', cursive;
    font-size: 80px;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    color: white;
}