.footer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: -100vh;
    
}

.footer > div {
    color: #FFFFFF;
    background-color: #232222;
    padding: 1rem;
    text-align: center;
}

@media only screen and (max-device-width: 600px) {
    .footer {
        grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
    }
}
    