.footer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: -100vh;
    
}

.footer > div {
    color: #FFFFFF;
    background: linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(48,48,48,1) 49%, rgba(41,41,41,1) 100%);
    padding: 1rem;
    text-align: center;
}

@media only screen and (max-device-width: 600px) {
    .footer {
        grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
    }
}
    