.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 1ch;
}

.footer > div {
    color: #FFFFFF;
    background-color: #232222;
    padding: 1rem;
    text-align: center;
}