
.pageText {
  max-width: 1000px;
  padding: 25px;
  padding-bottom: 20px;
  white-space: inherit;
  
  overflow-wrap: break-word;
}

@media only screen and (max-width: 1000px) {
  .pageText{width: 100vw}
}

p {
  margin-bottom: 0;
}

h1, h2 {
  color: #c40505;
  text-align: center;
}

h3 {
  color: #c40505;
}

figure {
  overflow: auto;
}