
.pageText {
  margin-top: 20px;
  padding-top: 20px;
  /* Padding will be 8% of page's width from both sides */
  /* padding-right: 8vw;
  padding-left: 8vw; */
  max-width: 1000px;
  padding: 25px;
  padding-bottom: 20px;
  white-space: inherit;
  word-break: break-word;
}

p {
  margin-bottom: 0;
}

/*Centers text box position*/
.container {
  display: flex;
  justify-content: center;

}

.hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.img {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

figure {
  overflow: auto;
}