/* Add a black background color to the top navigation */
.editorclass {
    background-color: #FFF;
    color: #333;
    width: 75%;
    outline-style: dashed; 
    outline-color: #333; 
}

.button {
    background-color: rgb(255, 59, 196);
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.select {
    background-color: rgb(255, 59, 196);
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}